{% extends 'base.html' %}

{% load static %}

{% block header %}
بلاگ ها
{% endblock %}

{% block body %}
        <!-- main -->
        <main class="category-blog default space-top-30">
            <div class="container ">
               
                <div class="row">
                    <div class="col-12">
                        <nav>
                            <ul class="breadcrumb">
                                <li>
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                </li>

                                <li>
                                    <a href="#"><span>بلاگ</span></a>
                                </li>
                                <li>
                                    <a href="category-blog.html"><span>اخبار روز تکنولوژی</span></a>
                                </li>
                              
                            </ul>
                        </nav>
                    </div>
                    <div class="single_blog_content cat_blog_content col-12 col-lg-9 mx-auto order-1 order-sm-1 ">



                        <div class="row listing-items Blog-category">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-12  ">
                                <div class="blog_tag">
                                    <a href="#">
                                        <img src="{% static 'assets/img/blog/post-1.jpg' %}" class="img-fluid" alt="">
                                    </a>
                                    <a href="#">
                                        <h2 class="Blog_title">
                                            این‌ بار هوش مصنوعی، تصاویری از کارخانه تولید عروس دریایی را افشا می‌کند!
                                        </h2>
                                    </a>
                                    <div class="Blog_list">
                                        <span class="Blog_author">
                                            <i class="fa fa-user"></i>
                                            رضایی
                                        </span>
                                        <span class="Blog_Date">
                                            <i class="fa fa-calendar "></i>
                                            ۱4 اسفند 1402
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-12  ">
                                <div class="blog_tag">
                                    <a href="#">
                                        <img src="{% static 'assets/img/blog/post-2.jpg' %}" class="img-fluid" alt="">
                                    </a>
                                    <a href="#">
                                        <h2 class="Blog_title">
                                            خط سفید روی نمایشگر گلکسی A71 سامسونگ؛ ماجرا چیست؟
                                        </h2>
                                    </a>
                                    <div class="Blog_list">
                                        <span class="Blog_author">
                                            <i class="fa fa-user"></i>
                                            صادقی
                                        </span>
                                        <span class="Blog_Date">
                                            <i class="fa fa-calendar "></i>
                                            ۱4 اسفند 1402
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-12  ">
                                <div class="blog_tag">
                                    <a href="#">
                                        <img src="{% static 'assets/img/blog/post-3.jpg' %}" class="img-fluid" alt="">
                                    </a>
                                    <a href="#">
                                        <h2 class="Blog_title">
                                            بهترین گوشی های مناسب عکاسی در بازار ایران
                                        </h2>
                                    </a>
                                    <div class="Blog_list">
                                        <span class="Blog_author">
                                            <i class="fa fa-user"></i>
                                            صادقی
                                        </span>
                                        <span class="Blog_Date">
                                            <i class="fa fa-calendar "></i>
                                            ۱4 اسفند 1402
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-12  ">
                                <div class="blog_tag">
                                    <a href="#">
                                        <img src="{% static 'assets/img/blog/post-4.jpg' %}" class="img-fluid" alt="">
                                    </a>
                                    <a href="#">
                                        <h2 class="Blog_title">
                                          هزینه ساخت بازی‌های انحصاری پلی استیشن با فیلم‌های بلاک‌باستر برابری می‌کند
                                        </h2>
                                    </a>
                                    <div class="Blog_list">
                                        <span class="Blog_author">
                                            <i class="fa fa-user"></i>
                                            صادقی
                                        </span>
                                        <span class="Blog_Date">
                                            <i class="fa fa-calendar "></i>
                                            ۱4 اسفند 1402
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-xl-6 col-lg-6 col-md-6 col-12  ">
                                <div class="blog_tag">
                                    <a href="#">
                                        <img src="{% static 'assets/img/blog/post-5.jpg' %}" class="img-fluid" alt="">
                                    </a>
                                    <a href="#">
                                        <h2 class="Blog_title">
                                            یک دهه سکوت شکست؛ مایکروسافت آمار فروش ایکس باکس را فاش کرد
                                        </h2>
                                    </a>
                                    <div class="Blog_list">
                                        <span class="Blog_author">
                                            <i class="fa fa-user"></i>
                                            صادقی
                                        </span>
                                        <span class="Blog_Date">
                                            <i class="fa fa-calendar "></i>
                                            ۱4 اسفند 1402
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-12  ">
                                <div class="blog_tag">
                                    <a href="#">
                                        <img src="{% static 'assets/img/blog/post-6.jpg' %}" class="img-fluid" alt="">
                                    </a>
                                    <a href="#">
                                        <h2 class="Blog_title">
                                            بررسی تلویزیون 4K اسنوا؛ ۵۵ اینچی اقتصادی برای فیلم‌بازها!
                                        </h2>
                                    </a>
                                    <div class="Blog_list">
                                        <span class="Blog_author">
                                            <i class="fa fa-user"></i>
                                            صادقی
                                        </span>
                                        <span class="Blog_Date">
                                            <i class="fa fa-calendar "></i>
                                            ۱4 اسفند 1402
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="col-12 col-lg-3 ">

                        <div class="sidebar_blog">
                            <div class="widget_blog">
                                <div class="widget_blog_headbox">
                                    <h3> دسته بندی ها </h3>
                                </div>
                                <div class="blog_list_widget_blog">
                                    <div class="widget_blog_groups">
                                        <ul class="widget_blog_posts">
                                            <li><a class="widget_blog_title_link" href=""> تکنولوژی آینده </a></li>
                                            <li><a class="widget_blog_title_link" href=""> پرچم دار موبایل </a></li>
                                            <li><a class="widget_blog_title_link" href=""> ویدئو های کاربردی </a></li>
                                            <li><a class="widget_blog_title_link" href=""> ترفند های آموزشی </a></li>
                                            <li><a class="widget_blog_title_link" href=""> دانلود نرم افزار </a></li>
                                            <li><a class="widget_blog_title_link" href=""> دنیای رمز ارز </a></li>
                                            <li><a class="widget_blog_title_link" href=""> اخبار روز تکنولوژی </a></li>
                                        </ul>
                                    </div>
                                </div><!-- end blog-list -->
                            </div>
                            <div class="widget_blog marg_top20">
                                <div class="widget_blog_headbox">
                                    <h3>آخرین مقالات </h3>
                                </div>
                                <div class="blog_list_widget_blog">
                                    <div class="widget_blog_groups">
                                        <ul class="widget_blog_posts">
                                            <li><a class="widget_blog_title_link" href=""> این‌ بار هوش مصنوعی، تصاویری از کارخانه تولید عروس دریایی را افشا می‌کند!</a></li>
                                            <li><a class="widget_blog_title_link" href="">  خط سفید روی نمایشگر گلکسی A71 سامسونگ؛ ماجرا چیست؟</a></li>
                                            <li><a class="widget_blog_title_link" href="">بهترین گوشی های مناسب عکاسی در بازار ایران</a></li>
                                            <li><a class="widget_blog_title_link" href="">هزینه ساخت بازی‌های انحصاری پلی استیشن با فیلم‌های بلاک‌باستر برابری می‌کند</a></li>
                                            <li><a class="widget_blog_title_link" href=""> یک دهه سکوت شکست؛ مایکروسافت آمار فروش ایکس باکس را فاش کرد!</a></li>
                                            <li><a class="widget_blog_title_link" href="">  بررسی تلویزیون 4K اسنوا؛ ۵۵ اینچی اقتصادی برای فیلم‌بازها!</a></li>
                                        </ul>
                                    </div>
                                </div><!-- end blog-list -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- main -->

{% endblock %}